@media screen and (max-width: 700px) {
    body {
        background-color: rgb(15, 214, 48);
        color: rgb(18, 143, 201);
    }
}
@media screen and (min-width: 700px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 1000px) {
    body {
      background-color: red;
    }
  }
 